﻿@{
    ViewBag.Title = "About";
}


<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This app is not quite an MVP of an interactive contact card solution, but it is the beginnings of what I think one would look like.</p>
<p>Currently you are able to send text messages to the phone number on the contact card and emails to the email on the contact card.</p>
