﻿@model ContactCards.Models.Email

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Email</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            To
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Contact.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSent)
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { Id = Model.ContactID })
</p>
